body{background:#000000;margin-top:0;margin-bottom:0;margin-left:0;margin-right:0;}
table {font:14pt, Arial, Tahoma,Verdana;color:#FFFFFF}
a:link{color:#FFFFFF;text-decoration:none}
a:visited{color:#FFFFFF;text-decoration:none}
a:hover{color:#0000FF;text-decoration:none}
.bg01 {background:#000000 URL(img/phbg.gif) top left repeat-x}
.panel td {background:#FFFFFF;width:100;height:100}
#photo {border:1 solid #FFFFFF}